@use '../base/reset';
@use '../base/root';
@use '../base/_mediaqueries';
/*===========================
Courses header
==============================*/
.courses__header {
  margin-top: 2rem;
}
.c-header__container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5rem;
}
.c-header__right {
  p {
    margin: 1.4rem 0 2.5rem;
  }
  h1:hover {
    color: #fdc806;
  }
  p:hover {
    color: #fdc806;
  }
}
.c-header__left {
  img {
    width: 80%;
    align-self: center;
    transform: translateY(-2rem);
  }
}
/* Matérias */
.materias {
  background: var(--clr-bg1);
  height: auto;
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
  h1 {
    line-height: 1;
    margin-bottom: 3rem;
  }
}
.materias__container {
  display: flex;
  flex-direction: column;
}
.materias__top {
  margin-right: 4rem;
  text-align: center;
}
.materias__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}
.materia {
  background: var(--clr-bg);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
  position: relative;
  h5 {
    margin: 1.25rem 0 0.5rem;
  }
  p {
    font-size: 0.85rem;
  }
}
.materia:hover {
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.materia:nth-child(1) .materia__icon {
  background: var(--clr-bg2);
}
.materia:nth-child(2) .materia__icon {
  background: rgb(98, 98, 235);
}
.materia:nth-child(3) .materia__icon {
  background: #273043;
  padding-inline: 0.95rem;
}
.materia:nth-child(4) .materia__icon {
  background: #89937c;
  padding-inline: 0.95rem;
}
.materia:nth-child(5) .materia__icon {
  background: rgb(141, 45, 0);
}
.materia:nth-child(7) .materia__icon {
  background: rgb(145, 47, 175);
  padding-inline: 0.95rem;
}
.materia:nth-child(6) .materia__icon {
  background: rgb(46, 145, 46);
  padding-inline: 0.95rem;
}
.materia__icon {
  background: var(--clr-primary);
  padding: 0.7rem;
  border-radius: 0.9rem;
}

/*=======================
End of Materias
==========================*/
/*===========================
Footer
==============================*/
footer {
  background: var(--clr-primary);
  padding-top: 3rem;
}
.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  & > div h4 {
    margin-bottom: 1.2rem;
    text-align: center;
  }
}
.footer__1 {
  p {
    margin: 0 0 2rem;
    color: #fdc806;
  }
}
.footer__logo:hover {
  color: #fdc806;
}
@media (max-width: 1024px) {
  .c-header__container {
    grid-template-columns: 1fr;
    h1 {
      text-align: center;
      margin-left: 2.5rem;
    }
    img {
      margin: 0 auto;
    }
  }
  .materias__bottom {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .materias__container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    h1 {
      margin-left: 2.5rem;
    }
  }
  .materias__bottom {
    grid-template-columns: 1fr;
  }
}
